workflows/workflow9_reply_email_search.json
{
  "name": "step 9",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reply-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        -48
      ],
      "id": "4ca390c2-4f9b-4485-a716-6caf206b04c6",
      "name": "Webhook",
      "webhookId": "e0cdadbe-22d2-43d6-93f0-e93c0e74e648",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -352,
        -32
      ],
      "id": "acad7d7f-40ef-4be8-8f64-7d640d8bb044",
      "name": "Get many messages",
      "webhookId": "320277c5-57a7-4f43-9b20-9a69546d2401",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "vszHkm4AfM4S8DaY",
          "name": "Oliver mail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an email assistant.\n\nOriginal email:\n\n{{ $('Get many messages').first().json.snippet }}\n\nInstruction:\n\n{{ $('Webhook').first().json.body.instruction }}\n\nWrite a professional reply email.\n\nReturn only the email body.\nDo not include Subject.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -160,
        -32
      ],
      "id": "a0cb364b-2b34-4ba1-bf81-00ba619239b4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -240,
        144
      ],
      "id": "06477af6-e53e-423e-b6a4-cfc8c7116dc0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GgDYOhVBhQ9HqqXq",
          "name": "20260324 - OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Get many messages').first().json.threadId }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        192,
        -48
      ],
      "id": "52048f87-2a6d-4c9f-8f2a-9748697b1b43",
      "name": "Reply to a message",
      "webhookId": "e94f965b-d86e-4c00-bf5f-b43a8afaf7b9",
      "credentials": {
        "gmailOAuth2": {
          "id": "vszHkm4AfM4S8DaY",
          "name": "Oliver mail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n{\n  \"status\": \"success\",\n  \"message\": \"Reply sent successfully\"\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        432,
        -64
      ],
      "id": "600cb45c-3260-4a4d-a1bb-ac4fea5fd018",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "20609aee-e0cd-400a-9acf-29ef4cea8ed6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ee8ad7a4058434c02c4f75262820f6417504a83252abcb13464c25cf7bacd46"
  },
  "id": "qbVcuSBD8fOr64gQ",
  "tags": []
}
