workflows/workflow6_ai_chat_agent.json
{
  "name": "step 6",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask-ai",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "bf4f38a0-39cd-4a87-8222-be8e428f1333",
      "name": "Webhook",
      "webhookId": "2e55c929-c337-4a35-9238-d35e05e434bb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an email assistant.\n\nUse ONLY the email context below.\n\nQuestion:\n{{ $json.question }}\n\nEmail Context:\n{{ $json.context }}\n\nIf there are relevant emails, answer clearly.\nOtherwise say \"No relevant emails found.\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "db65006d-7b38-4a71-9831-8c99381d5be3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        592,
        192
      ],
      "id": "e5d799e6-100b-4143-a115-5acd742d5220",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GgDYOhVBhQ9HqqXq",
          "name": "20260324 - OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let context = \"\";\n\nfor (const item of $input.all()) {\n  context += `\nSubject: ${item.json.subject}\nSummary: ${item.json.summary}\nCategory: ${item.json.category}\n\n--------------------\n`;\n}\n\nreturn [{\n  json: {\n    question: \"List all job-related companies mentioned in my emails.\",\n    context\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "2a5cadbb-3570-4ef9-9467-0a60098008bd",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "emails",
        "limit": 20
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "8439b273-106e-4b1d-80b5-9c79c6931d9b",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ifrrnUYoAhUS2eGZ",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "Upgrade",
            "host": "n8n-642200133.kloudbeansite.com",
            "x-real-ip": "49.37.148.232",
            "x-forwarded-for": "49.37.148.232",
            "x-forwarded-proto": "https",
            "content-length": "55",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Google Chrome\";v=\"149\", \"Chromium\";v=\"149\", \"Not)A;Brand\";v=\"24\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "https://www.google.com",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "https://www.google.com/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-IN,en-US;q=0.9,en;q=0.8,te;q=0.7",
            "priority": "u=1, i"
          },
          "params": {},
          "query": {},
          "body": {
            "question": "Which companies rejected my application?"
          },
          "webhookUrl": "https://n8n-642200133.kloudbeansite.com/webhook-test/ask-ai",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "91e1b39b-4347-4f45-a21a-e307a325c006",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ee8ad7a4058434c02c4f75262820f6417504a83252abcb13464c25cf7bacd46"
  },
  "id": "YSglA8odV0y93zvN",
  "tags": []
}
