workflows/workflow8_thread_reply.json
{
  "name": "step 8",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compose-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -16
      ],
      "id": "543fb177-1768-4839-9e5f-4c2c143ee66a",
      "name": "Webhook",
      "webhookId": "e183c190-3ecb-4a98-82f7-a48becfee79b",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write an email for the following request:\n\n{{$('Webhook').first().json.body.prompt}}\n\nRecipient:\n\n{{$('Webhook').first().json.body.to}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -208,
        -32
      ],
      "id": "8c96ae0f-44d9-4fbf-9cfe-4766a586132b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -192,
        160
      ],
      "id": "359cdf6f-86b1-41ae-86cd-2ae20ce94136",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GgDYOhVBhQ9HqqXq",
          "name": "20260324 - OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n{\nanswer: $('AI Agent').first().json.output\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        144,
        -32
      ],
      "id": "81b15355-c076-40b1-ab36-b309c2e90047",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    output: $json.output\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -32
      ],
      "id": "3d9890dc-16e8-4377-b400-f6982419d751",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "045b65cc-fe5b-46e8-a3f8-0b89f47a50c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ee8ad7a4058434c02c4f75262820f6417504a83252abcb13464c25cf7bacd46"
  },
  "id": "c3wI0LEvJ0OBwsNU",
  "tags": []
}
